* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	background-color: #34495e;
	color: white;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	width: 100%;
}

#splash {
	background: url(../img/zoi.jpg) no-repeat center top;
	position: fixed;
	width: 414px;
	height: 746px;
	text-align: center;
}

#menu {
	font-size: 12pt;
}